@charset "UTF-8";

.fc-day-sun .fc-col-header-cell-cushion {
	color: red;
}

.fc-day-sat .fc-col-header-cell-cushion {
	color: blue;
}
	    	
.fc-daygrid-day .fc-daygrid-day-number {	/* 일요일, 토요일 제외 */
	color: black;
}
	    	
.fc-daygrid-day.fc-day-sun .fc-daygrid-day-number{ 		
	color: red;
}

.fc-daygrid-day.fc-day-sat .fc-daygrid-day-number{		
	color: blue;
}

.fc-toolbar-chunk {
    display: flex;       /* 툴바의 요소들을 일렬로 나란히 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
}

#calendar {
	width: 100% !important; /* 캘린더의 너비를 100%로 강제 설정 */
    max-width: 800px !important; /* 최대 너비를 800px로 강제 설정 */
    height: 500px !important; /* 높이를 500px로 강제 설정 */
}

#schedule-details {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	max-width: 1000px;
	height: 80vh;
	padding: 10px;
	overflow-y: auto;
	border-left: 1px solid #ccc;
	background-color: #f9f9f9;
}