@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

body {
	font-family: 'Noto Sans KR', sans-serif;
}

.fc-theme-standard td, .fc-theme-standard th {
	border-color: #e2e8f0;
}

.fc .fc-daygrid-day-number {
	color: #4a5568;
}

.fc .fc-col-header-cell-cushion {
	color: #2d3748;
}

.transition-transform {
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.hover\:scale-105:hover {
	transform: scale(1.05);
}