@charset "UTF-8";

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html * {
	font-family: 'Cafe24Ssurround', sans-serif;
	text-underline-position: under;
}


html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* 가로 스크롤 제거 */
	width: 100%; /* 화면 너비 고정 */
}
    
.perspective {
	perspective: 1000px;
}

.notebook {
	width: 300px;
	height: 400px;
	position: relative;
	transform-origin: center center;
}

.cover {
	background-color: #8B4513; /* 갈색 */
	background-image: url('https://www.transparenttextures.com/patterns/leather.png');
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: left;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
	border: 4px solid #654321;
}

.login-form {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
/* 	background-color: #FFFFFF; */
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	padding: 2rem;
	border-radius: 0.5rem;
	width: 400px;
}